:root {
	--color-yellow: #d8973c;
	--color-red: #ad0e2a;

	--font-scale-100: 1rem;
	--font-scale-200: 1.25rem;
	--font-scale-300: 1.375rem;
	--font-scale-400: 1.5rem;
	--font-scale-500: 1.75rem;
	--font-scale-600: 2rem;
	--font-scale-700: 2.5rem;
	--font-scale-800: 3rem;
	--font-scale-900: 4rem;
	--font-scale-1000: 5rem;

	--page-gutter: 3rem;
}

@media (max-width: 768px) {
	:root {
		--page-gutter: 2rem;
	}
}

@media (max-width: 480px) {
	:root {
		--page-gutter: 1rem;
	}
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

ul,
ol {
	margin: 0;
}

/* Set core body defaults */
body {
	line-height: 1.5;
	margin: 0;
	min-block-size: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;

	font-family: itc-avant-garde-gothic-pro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
	margin: 0;
}

/* A elements */
a {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

address {
	font-style: inherit;
}
